html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

#container {
	font-family: Arial, sans-serif;
	border: 2px inset lightgray;
	display: block;
	margin: 0 auto;
	max-width: fit-content;
	max-height: fit-content;
}

img {
	max-width: 30em;
	max-height: 30em;
}

#gameData {
	padding: 0 1em 1em;
}

h1 {
	border-bottom: 1px solid lightgray;
	font-size: 1em;
	font-weight: 700;
	padding: 1em;
}

#scoreDisplay {
	font-size: 3em;
	font-weight: bold;
}

span {
	font-weight: bold;
}

select {
	border-radius: 20px;
	padding: 0.2em 1em;
	background-color: white;
}

#buttons {
	display: flex;
	/*align-content: stretch;*/
	justify-content: space-between;
}

#buttons * {
	/*align-items: stretch;*/
	/*display: flex;*/
	/*flex-direction: row;*/
	/*flex: 3;*/
	color: white;
	flex-grow: 1;
	border-radius: 0;
	border: 2px transparent inset;
}

.winner {
	color: green;
}

.loser {
	color: red;
}